body {
    background-color: grey;
    margin: 0;
    padding: 0;

}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    border-collapse: collapse;
}

/*START define col class*/
.col-10  {
    width: 100%;
}


/*END define col class*/

    /*START conatiner*/
    .container {
        display: table-cell;
        vertical-align: middle;
    }
    .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
    }

        /*START first-content*/
    .body-content {
        background-color: #fff;
        margin:0 auto;
        width: 35%;
    }
        .first-content {
            padding:0 60px 30px;
        }
            /*start content-one*/
            .content-one{
                border-bottom: 1px solid lightgrey;
                padding-bottom: 20px;
            }
            .content-one h1 {
                text-transform: uppercase;
            }
            .content-one h3 {
                text-transform: capitalize;
                color: red;
            }
            .content-one p {
                display: inline;
            }
            .contend-one  .text-by  {
                color: grey;
            }
            .content-one span {
                color: grey;
            }
                .span-right {
                    float: right;
                    padding-right: 60px;
                    color: #000!important;
                }
            /*end content-one*/

            /*start content-two*/
            .content-two{
                border-bottom: 1px solid lightgrey;
                padding-bottom: 20px;
            }

            .title-two {
                font-weight: bold;
                color: red;
                text-transform: capitalize;
            }

           .first-title {
                margin-bottom: 0;
                font-size: 18px;
            }

           .second-title {
                margin-top: 0;
                font-size: 18px;
            }

            .last-text {
                display: inline;
            }

            .content-two span {
                color: grey;
            }

            .span-right {
                float: right;
                padding-right: 60px;
                color: #000!important;
            }
            /*end content-two*/

            /*start content-three*/

            /*end content-three*/
            .content-three{
                padding-bottom: 20px;
            }

            .content-three .first-p {
                text-transform: capitalize;
                color: red;
                font-weight: bold;
                font-size: 18px;
            }

            .content-three .second-p {
                display: inline;

            }

            .contend-three  .text-by {
                color: grey;
            }

            .content-three span {
                color: grey;
            }

            .span-right {
                float: right;
                padding-right: 60px;
                color: #000!important;
            }

            /*END first-content*/

            /*START second-content*/
         .second-content {
             padding: 0 60px 30px;
             background-color: lightgray;
        }

                .info-one {
                    border-bottom: 1px solid grey;
                    display: inline-block;
                    width: 100%;
                }
                    .info-one h1 {
                        text-transform: uppercase;
                        color: grey;
                        font-weight: bold;
                        font-size: 30px;
                        text-align: center;
                    }

                    .info-one .first-text {
                        color: red;
                        font-weight: bold;
                        font-size: 18px;
                        text-transform: capitalize;
                    }

                    .info-one .text-by {
                        color: grey;
                    }

                    .span-right {
                       float: right;
                    }

                    .second-text {
                        display: inline-block;
                        color: grey;
                    }

                    .second-text span{
                        color: #000;

                    }
                    .text-by {
                        font-style: italic!important;
                        color: grey!important;
                    }

                    .capitalize {
                        text-transform: capitalize;
                    }


/*END secondd-content*/
    /*END container*/