
body {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    border-collapse: collapse;
}

*:focus {
    outline: none;
}

/*START define col class*/
.col-5 {
    width: 50%;
    float: left;
}

.col-10 {
    width: 100%;
    float: left;
}

.col-2 {
    width: 20%;
    float: left;
}

.col-8 {
    width: 80%;
    float: left;
}

/*END define col class*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 20px;
    color: lightgrey;
}

/*START container*/
.container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(pictures/background-img.png);
    background-size: cover;
    filter: blur(5px);
}
/*END container*/

    /*START form-content*/
    .form-content {
        width: 40%;
        margin: 0 auto;
        border: 1px solid lightgray;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        z-index: 2;
        background: rgba(255, 255, 255, 0.9);
    }

        /*START form-header*/
        .img-header {
        float: left;
        }
            .img-header img {
            padding: 25px;
            }
        .title-header {
         float: left;
        }
            .title-header h3 {
                margin: 30px 0 3px;
                font-size: 25px;
                text-transform: uppercase;
                color: grey;
            }
            .title-header p {
                margin-top: 10px;
                font-size: 20px;
                font-weight: bold;
                color: lightgray;
            }
        /*END form-header*/

        /*START form-body*/
        .form-body {
            float: left;
            border: 1px solid lightgrey;
        }
            .first-info {
                background-color: lightpink;
            }
                .first {
                    margin: 0;
                    padding: 20px;
                    font-weight: bold;
                    border-right: 1px solid lightgray;
                    text-transform: uppercase;
                    text-align: center;
                    color: #fff;
                }
                .arrow-up {
                    margin: 0 auto;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 5px solid #fff;
                }
            .second-info .second {
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                color: grey;
            }
         /*END form-body*/

         /*START user-name*/
             .first-name {
                float: left;
            }
                 .first-name input {
                     padding: 28px;
                     font-size: 20px;
                     border: 0;
                 }
             .last-name select {
                 padding: 28px 17px;
                 font-size: 20px;
                 border-top: none;
                 border-bottom: none;
                 color: lightgrey;
             }
             .last-name input {
                 padding: 28px;
                 font-size: 20px;
                 border: 0;
             }
        /*END user-name*/

        /*START user-email*/
            .user-email {
                border: 1px solid lightgrey;
                border-bottom: none;
            }
                .user-email input {
                    padding: 28px;
                    font-size: 20px;
                    border: none;
                }
        /*END user-email*/

        /*START payment*/
            .payment {
                border: 1px solid lightgrey;
            }
                .payment input  {
                    padding: 28px;
                    font-size: 20px;
                    border: none;
                }
        /*END payment*/

         /*START cash-buttons*/
            .cash-buttons {
                float: left;
                border-bottom: 1px solid lightgray;
                color: lightgrey;
            }
                .total-price {
                    padding: 50px;
                    border-right: 1px solid lightgrey
                }
                    .total-price h1 {
                        text-align: center;
                        color: grey;
                    }
            .price-button  button {
                padding: 25px 60px;
                background-color: white;
                width: 33.33%;
                float: left;
            }
               button:focus {
                   outline: none;
               }
           .second-column .center {
               background-color: lightsalmon;
            }
         /*END cash-buttons*/

        /*START form-footer*/
            .form-footer {
                 padding: 25px;
            }
                .form-footer input {
                    float: left;
                }
                .form-footer p {
                    display: inline;
                }
                    .form-footer p i {
                        margin-left: 6px;
                        font-size: 14px;
                        color: grey;
                    }
                     .pay-now button {
                     float: right;
                     width: 155px;
                     height: 44px;
                     position: relative;
                     top: 50%;
                     transform: translateY(-26%);
                     border-radius: 5px;
                     border: none;
                     background-color: green;
                     color: #fff;
                     font-size: 16px;
                     font-weight: bold;
                     text-transform: uppercase;
                  }
                    .pay-now button:focus {
                    outline: none;
                 }
                        .inactive{
                            background-color: grey!important;
                            cursor: not-allowed;
                        }
            /*END form-footer*/

    /*END form-content*/