/*start container-fluid*/

.container-fluid {
    margin:0;
    padding: 0;
}
    /*start header*/
    .header {
        float: left;
    }

        .title-logo {
            float: left;
            text-transform: uppercase;
            font-weight: bold;
        }

            .nav-bar {
                padding: 20px;
            }

            .nav-bar ul {
                float: right;
            }

            .nav-bar ul li {
                float: left;
                list-style-type: none;
                margin-right: 30px;
            }

            .nav-bar ul li a{
                text-decoration: none;
                color: #000;
                font-weight: bold;
                text-transform: uppercase;
            }

            .search-icon  {
                border-right: 1px solid grey;
                font-size: 15px;
                padding: 0px;
                padding-right: 10px;
                margin-right: 10px!important;
            }

            .shopping-cart {
                padding: 0;
                position: relative;
            }

            .shopping-cart i {
                position: absolute;
                top: -8px;
                left:-11px;
            }

            .shopping-cart span {
                position: absolute;
                top: -10px;
                left: 17px;
            }
                .design-number {
                    border-radius: 50%;
                    background-color: darkgoldenrod;
                    font-size: 12px;
                    color: #fff;
                    width: 25px;
                    height: 25px;
                    line-height: 2.1;
                    text-align: center;
                    display: block;
                }

            .header-img {
                background-image: url("pictures/banner_background.png");
                background-repeat: repeat-x;
                padding: 0;
                position: relative;
            }

                .left-img {
                    float: left;
                }

                .right-img {
                    float: right;
                }

                .over-background {
                    float: left;
                    position: absolute;
                    top: 50%;
                    left: 43%;
                }

                    .over-background p {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 40px;
                    }

                        .over-background ul li {
                            float: left;
                            margin-right: 20px;
                            list-style-type: none;
                        }

                            .over-background ul li a{
                                text-decoration: none;
                                color: #000;
                                font-weight: bold;
                                text-transform: uppercase;
                            }

                .over-background .add-color {
                    color: grey;
                }

                        .add-color i {
                            font-size: 18px;
                            font-weight: bold;
                        }

    /*end header*/

    /*start body-content*/

    .first-content-right h3 {
        text-transform: uppercase;
        font-weight: bold;
    }

    .body-content {
        padding-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    .content-left, .content-right {
        padding-top: 40px;
    }

        .next-photo {
            display: none;
        }

        .small-img {
            padding-top: 30px;
        }

            .small-img .center-img {
                padding-bottom: 23px;
            }

            .small-img .active {
                border: 1px solid darkred;
            }

            .small-img .inactive {
                opacity: 0.5
            }

    .info-content-right, .add-to-cart,.quantity {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .color-circle,.quantity,.description {
        padding-top: 25px;
    }

    .title-content-right h3 {
        text-transform: uppercase;
        font-weight: bold;
    }

    .all-reviews {
        color: grey;
        font-size: 18px;
        border-right: 1px solid lightgrey;
        padding-right: 10px;
        padding-left: 10px;
        font-weight: bold;
    }

    .add-review {
        color: grey;
        font-size: 18px;
        padding-left: 10px;
        font-weight: bold;
    }

        .starRating:not(old) {
            display: inline-block;
            width: 7.5em;
            height: 1.5em;
            overflow: hidden;
            vertical-align: bottom;
        }

        .starRating:not(old) > input {
            margin-right: -100%;
            opacity: 0;
        }

        .starRating:not(old) > label {
            display: block;
            float: right;
            position: relative;
            background: url(pictures/star-off.svg);
            background-size: contain;
        }

        .starRating:not(old) > label:before {
            content: '';
            display: block;
            width: 1.5em;
            height: 1.5em;
            background: url(pictures/star-on.svg);
            background-size: contain;
            opacity: 0;
            transition: opacity 0.2s linear;
        }

        .starRating:not(old) > label:hover:before, .starRating:not(old) > label:hover ~ label:before, .starRating:not(:hover) > :checked ~ label:before {
            opacity: 1;
        }

        .price-content-right {
            padding-top: 20px;
            padding-bottom: 20px
        }

            .first-price {
                color: grey;
                font-size: 18px;
                font-family: serif;
        }
            .best-price {
                font-size: 28px;
                font-weight: bold;
                padding-left: 20px;
                font-family: serif;
            }

        .references-content-right p {
            text-transform: capitalize;
            color: grey;
            font-size: 22px;
            font-family: serif;

        }

        .references-content-right .in-stock {
            color: forestgreen;
        }

        .info-content-right p{
            font-size: 22px;
            font-family: serif;
            color: grey;
        }

        .color-circle {
            overflow: hidden;
        }

        .color-circle .color {
            text-transform: uppercase;
            color: grey;
            font-weight: bold;
            padding-right: 90px;
        }

        .chose-color {
            display: inline;
            float: left;
        }

        .circle {
            display: inline;
            float: left;
        }

            .purple {
                background-color: mediumpurple;
                border-radius: 50%;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 15px;
                margin-right: 15px;
            }

            .brown {
                background-color: saddlebrown;
                border-radius: 50%;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 15px;
                margin-right: 15px;
            }

            .dark-blue {
                background-color: grey;
                border-radius: 50%;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 15px;
                margin-right: 15px;
            }

            .blue {
                background-color: cornflowerblue;
                border-radius: 50%;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 15px;
                margin-right: 15px;
            }

         .size-buttons {
             padding-top: 25px;
             overflow: hidden;
         }

        .sizes,.chose-size,.quantity-btn {
            display: inline;
            float: left;

        }

        .chose-size button {
            background-color: #fff;
            text-transform: uppercase;
            text-align: center;
            width: 35px;
            border: 1px solid lightgrey;
            margin-right: 5px;
        }

            .chose-size button:focus {
                outline: none;
            }

        .active-btn {
            border: 1px solid #000!important;
        }

        .sizes span {
                text-transform: uppercase;
                color: grey;
                font-weight: bold;
                padding-right: 105px;
        }

        .quantity-btn span  {
            text-transform: uppercase;
            color: grey;
            font-weight: bold;
            padding-right: 90px;
         }

            .down-caret {
                background-color: beige;
                border: 1px solid lightgrey;
                padding-right: 10px;
                padding-left: 10px;
            }

                .down-caret:focus {
                    outline: none;
                }

            .up-caret {
                background-color: beige;
                border: 1px solid lightgrey;
                padding-right: 10px;
                padding-left: 10px;
            }

                .up-caret:focus {
                    outline: none;
                }

            .chose-number {
                width: 75px;
                background-color: #fff;
                border: 1px solid lightgrey;
            }

                .chose-number:focus {
                    outline: none;
                }

        .add-to-cart button {
            padding: 13px 35px;
            background-color: #000;
            color: #fff;
            text-transform: uppercase;
            border: none;
        }

            .add-to-cart button:focus {
                outline: none;
            }

        .wish-list {
            padding-left: 50px;
            font-size: 16px;
            color: grey;
        }

        .add-to-compare {
            padding: 29px;
            color: grey;
            font-size: 16px;
        }

        .description {
            padding-top: 30px;
        }

            .elements-description {
                padding: 30px;
                background-color: beige;
            }

                .elements-description p, ul {
                    color: grey;
                }

                .elements-description h3 {
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: bold;
                }

                    .elements-description button {
                        float: right;
                        border: none;
                        font-weight: bold;
                        font-size: 16px;
                        background-color: beige;
                    }


        .review-description {
            margin-top: 20px;
            background-color: beige;
            padding: 12px 30px 2px;
            color: #000;
            text-transform: uppercase;
        }

            .review-description i {
                float: right;
            }

        .additional-info-description {
            margin-top: 20px;
            background-color: beige;
            padding: 12px 30px 2px;
            color: #000;
            text-transform: uppercase;
        }

            .additional-info-description i {
                float: right;
             }
/*start content-bottom*/
    .content-bottom {
        overflow: hidden;
    }
    .carousel-img {
        padding-top: 20px;
    }
    .content-bottom .title-related-items {
        margin-bottom: 20px;
    }
        .related-items {
            text-align: center;
            padding-top: 30px;
            padding-right: 0;
            border-top: 1px solid lightgrey;
        }
            .related-items h3 {
                text-transform: uppercase;
                font-weight: bold;
                display: inline;
                padding: 24px;
            }
                .related-items .span-left {
                    background-color: orange;
                    color: orange;
                    padding-left: 60px;
                    padding-top: -45px;
                    border-bottom: 1px solid orange;
                    position: absolute;
                    top: 47%;
                    left: 34%;
            }

                .related-items .span-right {
                    background-color: orange;
                    color: orange;
                    padding-left: 60px;
                    padding-top: -45px;
                    border-bottom: 1px solid orange;
                    position: absolute;
                    top: 47%;
                    right: 34%;
                }

            .related-items p {
                color: grey;
                font-size: 18px;
            }

            .carousel-img {
                padding-left: 0;
                padding-right: 0;
            }

            .carousel-img .first-img,.second-img,.third-img,.fourth-img {
                padding-left: 0;
            }

            .carousel-img .first-img img,.second-img img,.third-img img {
                padding-left: 0;
                }

            .fourth-img img{
                padding-right: 0;
            }

        .next-starRating:not(old),.starRating-second:not(old),
        .starRating-third:not(old),.starRating-fourth:not(old) {
            display: inline-block;
            width: 7.5em;
            height: 1.5em;
            overflow: hidden;
            vertical-align: bottom;
        }

        .next-starRating:not(old) > input,.starRating-second:not(old) > input,
        .starRating-third:not(old) > input,.starRating-fourth:not(old) > input {
            margin-right: -100%;
            opacity: 0;
        }

        .next-starRating:not(old) > label,.starRating-second:not(old) > label,
        .starRating-third:not(old) > label,.starRating-fourth:not(old) > label{
            display: block;
            float: right;
            position: relative;
            background: url(pictures/star-off.svg);
            background-size: contain;
        }

        .next-starRating:not(old) > label:before,.starRating-second:not(old) > label:before,
        .starRating-third:not(old) > label:before,.starRating-fourth:not(old) > label:before {
            content: '';
            display: block;
            width: 1.5em;
            height: 1.5em;
            background: url(pictures/star-on.svg);
            background-size: contain;
            opacity: 0;
            transition: opacity 0.2s linear;
        }

        .next-starRating:not(old) > label:hover:before, .next-starRating:not(old) > label:hover ~ label:before, .next-starRating:not(:hover) > :checked ~ label:before,
        .starRating-second:not(old) > label:hover:before, .starRating-second:not(old) > label:hover ~ label:before, .starRating-second:not(:hover) > :checked ~ label:before,
        .starRating-third:not(old) > label:hover:before, .starRating-third:not(old) > label:hover ~ label:before, .starRating-third:not(:hover) > :checked ~ label:before,
        .starRating-fourth:not(old) > label:hover:before, .starRating-fourth:not(old) > label:hover ~ label:before, .starRating-fourth:not(:hover) > :checked ~ label:before {
            opacity: 1;
        }

        .next-starRating,.starRating-second,.starRating-third,.starRating-fourth {
            margin-left: 75px;
            margin-top: 10px;
            font-size: 10px;
        }

        .same-price {
            text-align: center;
            font-size: 20px;
            color: #000;
            font-weight: bold;
        }

        .second-img {
            position: relative;
        }

        .second-img .eye {
            background-color: #fff;
            border: 1px solid #fff;
            position: absolute;
            top: 10%;
            left: 72%;
        }

        .second-img .fa-eye,.fa-heart  {
            padding: 9px;
            font-size: 21px;
        }

        .second-img .heart {
            background-color: #fff;
            border: 1px solid #fff;
            position: absolute;
            top: 20%;
            left: 72%
        }

          .shopping {
              background-color: #fff;
              border: 1px solid #fff;
              position: absolute;
              top: 41%;
              left: 72%;
        }

            .fa-shopping-cart {
                font-size: 21px;
                padding: 9px;
            }

            .diamond {
                background-color: #fff;
                border: 1px solid #fff;
                position: absolute;
                top: 31%;
                left: 72%;
            }

            .fa-diamond{
                font-size: 21px;
                padding: 7px;
            }

/*end content-bottom*/

/*end body content*/

/*start footer*/
.footer {
    background-color: grey;
}
    .detail-footer {
        padding-top: 40px;
        padding-bottom: 60px;
    }
        .detail-footer h3 {
            text-transform: uppercase;
            color: #fff;
            padding-bottom: 20px;
            font-weight: bold;
        }

        .detail-footer p {
            color: lightgrey;
            font-weight: bold;
            text-transform: capitalize;
        }

    .about-two {
        padding: 0;
    }

        .about-two span {
            padding-right: 20px;
            color: lightgrey;
        }

    .newsletter {
        border-bottom: 1px solid lightgrey;
        padding: 0;
    }

        .your-email {
            font-style: italic;
            padding-top: 20px;
        }

            .your-email i {
                float: right;
            }

    .copyright {
        background-color: #000;
    }
        .content-copyright {
            color: grey;
            text-align: center;
            padding: 20px;

        }
/*end footer*/

/*end container-fluid*/